src/eCH-0263-1-0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
Datum				Version				Autor
*********************************************
2023-05-01			Entwurf zur Eingabe bei eCH			Stl
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:eCH-0263="http://www.ech.ch/xmlns/eCH-0263/1" xmlns:eCH-0010="http://www.ech.ch/xmlns/eCH-0010/7" xmlns:eCH-0044="http://www.ech.ch/xmlns/eCH-0044/4" xmlns:eCH-0097="http://www.ech.ch/xmlns/eCH-0097/6" xmlns:eCH-0261="http://www.ech.ch/xmlns/eCH-0261/1" xmlns:eCH-0262="http://www.ech.ch/xmlns/eCH-0262/1" xmlns:eCH-0265="http://www.ech.ch/xmlns/eCH-0265/1" targetNamespace="http://www.ech.ch/xmlns/eCH-0263/1" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	<xs:annotation>
		<xs:documentation xml:lang="de">Agrardaten - Betriebsmittel</xs:documentation>
	</xs:annotation>
	<xs:import namespace="http://www.ech.ch/xmlns/eCH-0010/7" schemaLocation="http://www.ech.ch/xmlns/eCH-0010/7/eCH-0010-7-0.xsd"/>
	<xs:import namespace="http://www.ech.ch/xmlns/eCH-0044/4" schemaLocation="http://www.ech.ch/xmlns/eCH-0044/4/eCH-0044-4-1.xsd"/>
	<xs:import namespace="http://www.ech.ch/xmlns/eCH-0097/6" schemaLocation="http://www.ech.ch/xmlns/eCH-0097/6/eCH-0097-6-0.xsd"/>
	<xs:import namespace="http://www.ech.ch/xmlns/eCH-0261/1" schemaLocation="http://www.ech.ch/xmlns/eCH-0261/1/eCH-0261-1-0.xsd"/>
	<xs:import namespace="http://www.ech.ch/xmlns/eCH-0265/1" schemaLocation="http://www.ech.ch/xmlns/eCH-0265/1/eCH-0265-1-0.xsd"/>
	<!--Hauptdatentypen-->
	<xs:complexType name="plantProtectionProductType">
		<xs:annotation>
			<xs:documentation xml:lang="de">Pflanzenschutzmittel</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="id" type="eCH-0261:identifierType" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation xml:lang="de">Identifikator</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="description" type="eCH-0261:descriptorType">
				<xs:annotation>
					<xs:documentation xml:lang="de">Beschreibung</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="admissonType">
				<xs:annotation>
					<xs:documentation xml:lang="de">Zuslassungsart</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:token">
						<xs:enumeration value="CH_ONLY">
							<xs:annotation>
								<xs:documentation xml:lang="de">Nur in der Schweiz zugelassen</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="PARALLEL_IMPORT">
							<xs:annotation>
								<xs:documentation xml:lang="de">Parallelimport</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="privateUsageAdmissable" type="xs:boolean">
				<xs:annotation>
					<xs:documentation xml:lang="de">Zulassung für Privatanwender</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="plantProtectionProductCategory" type="eCH-0263:plantProtectionProductCategoryType">
				<xs:annotation>
					<xs:documentation xml:lang="de">Pflanzenschutzmittel-Produktkategorie</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="indication" type="eCH-0263:indicationType" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation xml:lang="de">Indikation</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:choice>
				<xs:element name="permissionHolder" type="eCH-0097:uidStructureType">
					<xs:annotation>
						<xs:documentation xml:lang="de">Bewilligungsinhaber</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="permissionHolderAdress" type="eCH-0010:organisationMailAddressType">
					<xs:annotation>
						<xs:documentation xml:lang="de">Bewilligungsinhaber (wenn UID unbekannt)</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
			<xs:element name="ingredient" type="eCH-0263:ingredientType" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation xml:lang="de">Inhaltsstoff</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="transactionUnit">
				<xs:annotation>
					<xs:documentation xml:lang="de">Einheit, welche bei Transaktionen dieses Pflanzenschutzmittels verwendet wird. </xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="eCH-0261:unitType">
						<xs:enumeration value="kg"/>
						<xs:enumeration value="l"/>
						<xs:enumeration value="pc"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="density" type="xs:decimal" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="de">Dichte (Raumgewicht) in kg/L. Die Dichte muss zwingend angegeben werden, falls «Liter» als Transaktionseinheit (transac-tionUnit) angegeben wird.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="approvalDate" type="xs:date">
				<xs:annotation>
					<xs:documentation xml:lang="de">Datum der Zulassung</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="hazardLabeling" type="eCH-0263:hazardLabelingType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation xml:lang="de">Gefahrenkennzeichnung</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="exhaustionDeadline" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="de">Aufbrauchsfrist</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="soldOutDeadline" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="de">Ausverkaufsfrist</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="version" type="xs:int">
				<xs:annotation>
					<xs:documentation xml:lang="de">Version</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="manureRecyclingProductType">
		<xs:annotation>
			<xs:documentation xml:lang="de">Hof- und Recyclingdünger </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="id" type="eCH-0261:identifierType" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation xml:lang="de">Identifikator</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="description" type="eCH-0261:descriptorType">
				<xs:annotation>
					<xs:documentation xml:lang="de">Beschreibung</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="manureRecycling-ProductCategory">
				<xs:annotation>
					<xs:documentation xml:lang="de">Hof- und Recyclingdünger-Produktkategorie</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:token">
						<xs:enumeration value="FARM_MANURE">
							<xs:annotation>
								<xs:documentation xml:lang="de">Hofdünger</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="RECYCLING">
							<xs:annotation>
								<xs:documentation xml:lang="de">Recyclingdünger</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="typeOfManureRe-cyclingProduct" type="eCH-0263:typeOfManureRecyclingProductType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="de">Produkttyp</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="transactionUnit">
				<xs:annotation>
					<xs:documentation xml:lang="de">Einheit, welche bei Transaktionen dieses Hofdüngers verwendet wird. </xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="eCH-0261:unitType">
						<xs:enumeration value="kg"/>
						<xs:enumeration value="l"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="density" type="xs:decimal" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="de">Dichte (Raumgewicht) in kg/L. Die Dichte muss zwingend angegeben werden, falls «Liter» als Transaktionseinheit (transac-tionUnit) angegeben wird.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="matterState">
				<xs:annotation>
					<xs:documentation xml:lang="de">Aggregatszustand</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:token">
						<xs:enumeration value="SOLID">
							<xs:annotation>
								<xs:documentation xml:lang="de">Fest</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="LIQUID">
							<xs:annotation>
								<xs:documentation xml:lang="de">Flüssig</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="manufacturer" type="eCH-0097:namedOrganisationIdType">
				<xs:annotation>
					<xs:documentation xml:lang="de">BUR-Nummer des Herstellers</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="manureDerivation" type="eCH-0263:manureDerivationType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation xml:lang="de">Ursprung des verwendeten Materials</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ingredient" type="eCH-0263:ingredientType" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation xml:lang="de">Inhaltsstoff</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="laboratoryAnalysisDate" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="de">Analysedatatum für betriebsspezifische Produkte</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="validFromInclusive" type="xs:date">
				<xs:annotation>
					<xs:documentation xml:lang="de">Datum, ab wann der Datensatz gültig ist.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="validToInclusive" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="de">Datum, bis zu welchem der Datensatz gültig ist.
Falls ein Eintrag nicht mehr existiert/geändert wurde, wird er mit dem Datum bis zu welchem er gültig war, versehen. Die Liste bleibt so rückwärtskompatibel
</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="version" type="xs:int">
				<xs:annotation>
					<xs:documentation xml:lang="de">Version</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="fertiliserProductType">
		<xs:annotation>
			<xs:documentation xml:lang="de">Dünger</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="id" type="eCH-0261:identifierType">
				<xs:annotation>
					<xs:documentation xml:lang="de">Identifikator</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="description" type="eCH-0261:descriptorType">
				<xs:annotation>
					<xs:documentation xml:lang="de">Beschreibung</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="fertiliserProductCategory" type="eCH-0263:fertiliserProductCategoryType">
				<xs:annotation>
					<xs:documentation xml:lang="de">Dünger-Produktkategorie</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:choice minOccurs="0">
				<xs:element name="permissionHolderUID" type="eCH-0097:uidStructureType">
					<xs:annotation>
						<xs:documentation xml:lang="de">Bewilligungsinhaber Unternehmen (UID)</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="permissionHolderVn" type="eCH-0044:vnType">
					<xs:annotation>
						<xs:documentation xml:lang="de">Bewilligungsinhaber natürliche Person (AHVN13)</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="permissionHolderNamedPersonId" type="eCH-0044:namedPersonIdType">
					<xs:annotation>
						<xs:documentation xml:lang="de">Bewilligungsinhaber natürliche Person (eIAM Login-Id)</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
			<xs:choice>
				<xs:element name="manufacturerUID" type="eCH-0097:uidStructureType">
					<xs:annotation>
						<xs:documentation xml:lang="de">Hersteller Unternehmen (UID)</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="manufacturerVn" type="eCH-0044:vnType">
					<xs:annotation>
						<xs:documentation xml:lang="de">Hersteller natürliche Person (AHVN13)</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="manufacturerrNamedPersonId" type="eCH-0044:namedPersonIdType">
					<xs:annotation>
						<xs:documentation xml:lang="de">Hersteller natürliche Person (eIAM Login Id)</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
			<xs:element name="transactionUnit">
				<xs:annotation>
					<xs:documentation xml:lang="de">Einheit, welche bei Transaktionen dieses Düngers verwendet wird.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="eCH-0261:unitType">
						<xs:enumeration value="kg"/>
						<xs:enumeration value="l"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="density" type="xs:decimal" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="de">Dichte (Raumgewicht) in kg/L. Die Dichte muss zwingend angegeben werden, falls «Liter» als Transaktionseinheit (transac-tionUnit) angegeben wird.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ingredient" type="eCH-0263:ingredientType" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation xml:lang="de">Inhaltsstoff</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="saleFromInclusive" type="xs:date">
				<xs:annotation>
					<xs:documentation xml:lang="de">Datum, ab welchem der Verkauf zugelassen ist.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="saleToInclusive" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="de">Datum, bis zu welchem der Verkauf zugelassen ist.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="version" type="xs:int">
				<xs:annotation>
					<xs:documentation xml:lang="de">Version</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="feedstuffType">
		<xs:annotation>
			<xs:documentation xml:lang="de">Futtermittel</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="id" type="eCH-0261:identifierType">
				<xs:annotation>
					<xs:documentation xml:lang="de">Identifikator</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="description" type="eCH-0261:descriptorType">
				<xs:annotation>
					<xs:documentation xml:lang="de">Beschreibung</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="lotNumber" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="de">Chargen-Nr.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:token">
						<xs:maxLength value="50"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="feedstuffProductCategory">
				<xs:annotation>
					<xs:documentation xml:lang="de">Futtermittel Produktkategorie</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:token">
						<xs:enumeration value="FODDER">
							<xs:annotation>
								<xs:documentation xml:lang="de">Grundfutter</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="CONCENTRATED_FODDER">
							<xs:annotation>
								<xs:documentation xml:lang="de">Kraftfutter</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="feedstuffPro-ductType" type="eCH-0263:feedstuffProductTypeType">
				<xs:annotation>
					<xs:documentation xml:lang="de">Produkttyp</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="manufacturer" type="eCH-0097:uidStructureType">
				<xs:annotation>
					<xs:documentation xml:lang="de">Hersteller</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="origin">
				<xs:annotation>
					<xs:documentation xml:lang="de">Herkunft</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:token">
						<xs:enumeration value="CH">
							<xs:annotation>
								<xs:documentation xml:lang="de">Schweiz</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="OTHER_FOREIGN">
							<xs:annotation>
								<xs:documentation xml:lang="de">Sonstiges Ausland</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="label" type="eCH-0263:labelType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation xml:lang="de">Label</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="intendedForAnimal" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation xml:lang="de">Erlaubte Tierkategorien
Referenziert einen Code einer Spezies, welcher durch «taxonomySpecies» aus eCH-0266 definiert wird.
</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:token">
						<xs:maxLength value="50"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="organic" type="xs:boolean">
				<xs:annotation>
					<xs:documentation xml:lang="de">Angabe, ob ein Futtermittel die Bio-Richtlinien erfüllt.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="laboratoryAnalysisDate" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="de">Analysedatum für betriebsspezifische Produkte</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="transactionUnit">
				<xs:annotation>
					<xs:documentation xml:lang="de">Einheit, welche bei Transaktionen dieses Futtermittels verwendet wird.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="eCH-0261:unitType">
						<xs:enumeration value="kg"/>
						<xs:enumeration value="l"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="density" type="xs:decimal" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="de">Verfällt am</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ingredient" type="eCH-0263:ingredientType" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation xml:lang="de">Verkauf ab</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="saleFromInclusive" type="xs:date">
				<xs:annotation>
					<xs:documentation xml:lang="de">Datum, ab welchem der Verkauf zugelassen ist.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="saleToInclusive" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="de">Datum, bis zu welchem der Verkauf zugelassen ist.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="version" type="xs:int">
				<xs:annotation>
					<xs:documentation xml:lang="de">Version</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="dressedSeedType">
		<xs:annotation>
			<xs:documentation xml:lang="de">Gebeiztes Saatgut</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="id" type="eCH-0261:identifierType">
				<xs:annotation>
					<xs:documentation xml:lang="de">Identifikator</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="description" type="eCH-0261:descriptorType">
				<xs:annotation>
					<xs:documentation xml:lang="de">Beschreibung</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="retailName" type="eCH-0261:descriptorType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="de">Handelsbezeichnung</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="admissonType" type="eCH-0263:admissionTypeType">
				<xs:annotation>
					<xs:documentation xml:lang="de">Zulassungsart</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:choice>
				<xs:element name="seedTreatment" type="eCH-0261:identifierType" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation xml:lang="de">Saatbehandlung</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="ingredient" type="eCH-0263:ingredientType" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation xml:lang="de">Inhaltsstoffe</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
			<xs:element name="transactionUnit">
				<xs:annotation>
					<xs:documentation xml:lang="de">Einheit, welche bei Transaktionen dieses Produkts verwendet wird.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="eCH-0261:unitType">
						<xs:enumeration value="kg"/>
						<xs:enumeration value="pc"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="botanicalCrop" type="eCH-0265:botanicalCropType">
				<xs:annotation>
					<xs:documentation xml:lang="de">Kultur</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="variety" type="eCH-0265:varietyType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation xml:lang="de">Sorte</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="seedTreatmentType">
		<xs:annotation>
			<xs:documentation xml:lang="de">Saatbehandlung</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="id" type="eCH-0261:identifierType">
				<xs:annotation>
					<xs:documentation xml:lang="de">Identifikator</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="description" type="eCH-0261:descriptorType">
				<xs:annotation>
					<xs:documentation xml:lang="de">Beschreibung</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="usedPlantProtectionProduct">
				<xs:annotation>
					<xs:documentation xml:lang="de">Referenz auf das verwendete Pflanzen-schutzmittel.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:token">
						<xs:maxLength value="50"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="quantity">
				<xs:annotation>
					<xs:documentation xml:lang="de">Menge</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:minInclusive value="0"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="unit">
				<xs:annotation>
					<xs:documentation xml:lang="de">Zur Menge gehörende Einheit des ver-wendeten Pflanzenschutzmittels.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="eCH-0261:unitType">
						<xs:enumeration value="%"/>
						<xs:enumeration value="kg/pc"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ingredientType">
		<xs:annotation>
			<xs:documentation xml:lang="de">Inhaltsstoff (Zusammensetzungen) </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="id" type="eCH-0261:identifierType">
				<xs:annotation>
					<xs:documentation xml:lang="de">Identifikator</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="description" type="eCH-0261:descriptorType">
				<xs:annotation>
					<xs:documentation xml:lang="de">Beschreibung</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="substance" type="eCH-0263:substanceType">
				<xs:annotation>
					<xs:documentation xml:lang="de">Substanz / Wirkstoff / Nährstoff </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="facilitySpecific" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="de">Angabe, ob dieser Inhaltsstoff betriebsspezifisch ist. Nur für Produkte der Familie HofRec.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="concentrationOrDensity" type="xs:decimal" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="de">Konzentration in kg/L, falls «Liter» als Transaktionseinheit (transactionUnit) des übergeordneten Produkts angegeben wird. In diesem Fall muss die Konzentration zwingend angegeben werden.
Dichte in kg/m3, falls «kg» als Transaktionseinheit (transactionUnit) des übergeordneten Produkts angegeben wird. In diesem Fall ist das Element optional.
</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="required" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="de">Komplexe Einheit</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="quantity">
				<xs:annotation>
					<xs:documentation xml:lang="de">Menge</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:fractionDigits value="3"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="unit">
				<xs:annotation>
					<xs:documentation xml:lang="de">Zur Menge gehörende Einheit des verwendeten Pflanzenschutzmittels.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="eCH-0261:unitType">
						<xs:enumeration value="%"/>
						<xs:enumeration value="kg/l"/>
						<xs:enumeration value="kg/pc"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="substanceType">
		<xs:annotation>
			<xs:documentation xml:lang="de">Substanz / Wirkstoff / Nährstoff </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="id" type="eCH-0261:identifierType">
				<xs:annotation>
					<xs:documentation xml:lang="de">Identifikator</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="description" type="eCH-0261:descriptorType">
				<xs:annotation>
					<xs:documentation xml:lang="de">Beschreibung</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="activeSubstanceCategory" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="de">Wirkstoffgruppe</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:token">
						<xs:enumeration value="NA">
							<xs:annotation>
								<xs:documentation xml:lang="de">Nicht zutreffend</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="CHEMICAL">
							<xs:annotation>
								<xs:documentation xml:lang="de">Chemische Stoffe</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="MICRO_ORGANISM">
							<xs:annotation>
								<xs:documentation xml:lang="de">Mikroorganismen</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="MACRO_ORGANISM">
							<xs:annotation>
								<xs:documentation xml:lang="de">Makroorganismen</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="RAW_MATERIAL">
							<xs:annotation>
								<xs:documentation xml:lang="de">Grundstoffe</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="SUBST_CANDIDATE">
							<xs:annotation>
								<xs:documentation xml:lang="de">Substitutionskanditaten</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="allowedFor" type="eCH-0263:productFamilyType" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation xml:lang="de">Zulässig für Produktfamilien, Einträge aus Liste</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="crossResistancePattern" type="eCH-0263:crossResistancePatternType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="de">Resistenzgruppe, Eine Gruppe mit vergleichbarer Wirkung. Nur für PSM relevant. Dies verweist auf einen Eintrag externer Quelle.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="allowedUnits" type="eCH-0261:unitType" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation xml:lang="de">Erlaubte Einheiten</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="indicationType">
		<xs:annotation>
			<xs:documentation xml:lang="de">Indikation</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="id" type="eCH-0261:identifierType">
				<xs:annotation>
					<xs:documentation xml:lang="de">Identifikator</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="waitingPeriod" type="xs:positiveInteger" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="de">Wartefrist in Tagen</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dosageFrom">
				<xs:annotation>
					<xs:documentation xml:lang="de">Angabe der minimalen Dosierung </xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:fractionDigits value="2"/>
						<xs:minInclusive value="0"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="dosageTo">
				<xs:annotation>
					<xs:documentation xml:lang="de">Angabe der maximalen Dosierung</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:fractionDigits value="2"/>
						<xs:minInclusive value="0"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="admissonType" type="eCH-0263:admissionTypeType">
				<xs:annotation>
					<xs:documentation xml:lang="de">Zulassungsart</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="emergencyAdmissionStartInclusive" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="de">Beginn Notfallzulassung</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="emergencyAdmissionEndInclusive" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="de">Ende Notfallzulassung</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="unit" type="eCH-0261:unitType">
				<xs:annotation>
					<xs:documentation xml:lang="de">Einheit</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="botanicalCrop" type="eCH-0265:botanicalCropType" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation xml:lang="de">Kultur</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="pathogen" type="eCH-0263:pathogenType" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation xml:lang="de">Schaderreger</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="pathogenType">
		<xs:annotation>
			<xs:documentation xml:lang="de">Schaderreger</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="id" type="eCH-0261:identifierType">
				<xs:annotation>
					<xs:documentation xml:lang="de">Identifikator</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="description" type="eCH-0261:descriptorType">
				<xs:annotation>
					<xs:documentation xml:lang="de">Beschreibung</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="eppoCode">
				<xs:annotation>
					<xs:documentation xml:lang="de">Referenz auf den Code aus der EPPO- Datenbank (https://gd.eppo.int/).</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:token">
						<xs:maxLength value="50"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="manureDerivationType">
		<xs:annotation>
			<xs:documentation xml:lang="de">Ursprung des verwendeten Materials für Hofdünger</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="animalOrPlant-Source">
				<xs:annotation>
					<xs:documentation xml:lang="de">Angabe eines Tiers (Code einer Spezies, welcher durch «taxonomySpecies» aus eCH-0266 definiert wird), falls der Mist tie-rischer Herkunft ist. Ansonsten wird der String «NON_ANIMAL» angegeben.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:token">
						<xs:maxLength value="50"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="nprCode" type="eCH-0263:nprCodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="de">NPr-Code</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="housing" type="eCH-0263:stableSystemType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="de">Stallsystem</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="utlisation" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation xml:lang="de">Verwendungszweck (Code einer Nutzungsausrichtung, welche durch «utilisation» aus eCH-0266 definiert ist).</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:token">
						<xs:maxLength value="50"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="percentageAllocation">
				<xs:annotation>
					<xs:documentation xml:lang="de">Anteil in Prozent</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:fractionDigits value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="plantProtectionProductCategoryType">
		<xs:annotation>
			<xs:documentation xml:lang="de">Produktekategorie Pflanzenschutzmittel</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="item" type="eCH-0261:enumeratedItemType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="hazardLabelingType">
		<xs:annotation>
			<xs:documentation xml:lang="de">Gefahrenkennzeichnung</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="item" type="eCH-0261:enumeratedItemType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="typeOfManureRecyclingProductType">
		<xs:annotation>
			<xs:documentation xml:lang="de">Produkttyp Hofdünger</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="item" type="eCH-0261:enumeratedItemType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="fertiliserProductCategoryType">
		<xs:annotation>
			<xs:documentation xml:lang="de">Produktkategorie Dünger</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="item" type="eCH-0261:enumeratedItemType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="feedstuffProductTypeType">
		<xs:annotation>
			<xs:documentation xml:lang="de">Produkttyp Futtermittel</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="item" type="eCH-0261:enumeratedItemType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="crossResistancePatternType">
		<xs:annotation>
			<xs:documentation xml:lang="de">Restistenzgruppe</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="item" type="eCH-0261:enumeratedItemType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="labelType">
		<xs:annotation>
			<xs:documentation xml:lang="de">Label</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="item" type="eCH-0261:enumeratedItemType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="admissionTypeType">
		<xs:annotation>
			<xs:documentation xml:lang="de">Zulassungsart</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:token">
			<xs:enumeration value="PARALLEL_IMPORT">
				<xs:annotation>
					<xs:documentation xml:lang="de">Parallelimport</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CHE_ONLY">
				<xs:annotation>
					<xs:documentation xml:lang="de">Nur in der Schweiz bewilligt</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="EMERGENCY_ADMISSION">
				<xs:annotation>
					<xs:documentation xml:lang="de">Notfallzulassung</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="DRESSED_SEED">
				<xs:annotation>
					<xs:documentation xml:lang="de">Gebeiztes Saatgut</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="nprCodeType">
		<xs:annotation>
			<xs:documentation xml:lang="de">Stallsystem</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:token">
			<xs:enumeration value="nPrKanImpx">
				<xs:annotation>
					<xs:documentation xml:lang="de">Kaninchen Import-Export-Bilanz</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="nPrJungImpx">
				<xs:annotation>
					<xs:documentation xml:lang="de">Junghennen Import-Export-Bilanz</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="nPrLegLin">
				<xs:annotation>
					<xs:documentation xml:lang="de">Legehennen, lineare Korrektur</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="nPrPoulImpx">
				<xs:annotation>
					<xs:documentation xml:lang="de">Mastpoulet, Import-Export-Bilanz</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="nPrSchMImpx">
				<xs:annotation>
					<xs:documentation xml:lang="de">Mastschweine, Import-Export-Bilanz</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="nPrSchMLin">
				<xs:annotation>
					<xs:documentation xml:lang="de">Mastschweine, Lineare Korrektur</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="nPrSchZImpx">
				<xs:annotation>
					<xs:documentation xml:lang="de">Zuchtschweine, Import-Export-Bilanz</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="nPrSchZLin">
				<xs:annotation>
					<xs:documentation xml:lang="de">Zuchtschweine, Lineare Korrektur</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="nPrTrutImpx">
				<xs:annotation>
					<xs:documentation xml:lang="de">Truten, Import-Export-Bilanz</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="productFamilyType">
		<xs:annotation>
			<xs:documentation xml:lang="de">Produktfamilie</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:token">
			<xs:enumeration value="FARM_MANURE_RECYCLING">
				<xs:annotation>
					<xs:documentation xml:lang="de">Hof- und Recyclingdünger</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="PLANT_PROTECTION_PRODUCT">
				<xs:annotation>
					<xs:documentation xml:lang="de">Pflanzenschutzmittel</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="FERTILISER">
				<xs:annotation>
					<xs:documentation xml:lang="de">Dünger</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="DRESSED_SEED">
				<xs:annotation>
					<xs:documentation xml:lang="de">Gebeiztes Saatgut</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="FEEDSTUFF">
				<xs:annotation>
					<xs:documentation xml:lang="de">Futtermittel</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="stableSystemType">
		<xs:annotation>
			<xs:documentation xml:lang="de">Stallsystem</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:token">
			<xs:enumeration value="YARD_HUTCH">
				<xs:annotation>
					<xs:documentation xml:lang="de">Laufhof/Laufstall</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="YARD_TETHER">
				<xs:annotation>
					<xs:documentation xml:lang="de">Laufhof/Anbindestall</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="DEEP_LITTER_TREAD">
				<xs:annotation>
					<xs:documentation xml:lang="de">Tiefstreu/Tretmist</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="MULTI_SURFACE">
				<xs:annotation>
					<xs:documentation xml:lang="de">Mehrfläche (nicht belegte Stallplätze in Laufställen)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CONV_STABLE">
				<xs:annotation>
					<xs:documentation xml:lang="de">Konventionelle Ställe</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="LABEL_STABLE">
				<xs:annotation>
					<xs:documentation xml:lang="de">Labelställe mit Mehrflächenbuchten und Auslauf</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="DEEP_LITTER">
				<xs:annotation>
					<xs:documentation xml:lang="de">Tiefstreu</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="MANURE_PIT">
				<xs:annotation>
					<xs:documentation xml:lang="de">Stall/Mist (Kotgrube, Bodenhaltung)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="MANURE_BELT">
				<xs:annotation>
					<xs:documentation xml:lang="de">Stall/Kot (Kotbandentmistung ohne Kotbandtrocknung)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="MANURE_BELT_DRYING">
				<xs:annotation>
					<xs:documentation xml:lang="de">Stall/Kot (Kotbandentmistung mit Kotbandtrocknung)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="PEN_OUTDOOR_RUN">
				<xs:annotation>
					<xs:documentation xml:lang="de">Laufstall/Freilandauslauf</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<!--Root-Element-->
	<xs:element name="root">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="productPSM" type="eCH-0263:plantProtectionProductType"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
